
.bg-custom{
  background-color: rgba(255, 30, 30, 0.75);
}

.nav-link{
  color: white!important;
}

.bg-home-first{
  background-image: url("/storage/images/home_image2.jpg");
  background-repeat: no-repeat;
  height: 100vh;
}

.bg-home-second{
  background-color: white;
  background-repeat: no-repeat;
  padding-bottom: 10vh;
}

.home-position-first{
  padding-top: 40vh;
  padding-left: 25vh;
}

.home-position-second{
  padding-top: 10vh;
  padding-left: 15vh;
}

.bg-footer{
  background-color: #d1e7ed;
  padding-top: 5vh;
}

.footer-copyright{
  padding-top: 0.5vh;
  min-height: 5vh;
}

.footer-copyright-link{
  color: #0d6efd;
  text-decoration: none;
}

.containerC {
  display: grid;
  grid-template-columns: 1fr 1fr 0.9fr;
  grid-template-rows: 1fr 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "dateC dataC dataC"
    "dateC dataC dataC"
    ". . buttonsC";
}

.dateC { grid-area: dateC; }

.dataC { grid-area: dataC; }

.buttonsC { grid-area: buttonsC; }
