
.bg-custom{
  background-color: rgba(255, 30, 30, 0.75);
}

.nav-link{
  color: white!important;
}

.bg-home-first{
  background-image: url("/storage/images/home_image2.jpg");
  background-repeat: no-repeat;
  height: 100vh;
}

.bg-home-second{
  background-color: white;
  background-repeat: no-repeat;
  height: 100vh;
}

.home-position-first{
  padding-top: 40vh;
  padding-left: 25vh;
}

.home-position-second{
  padding-top: 10vh;
  padding-left: 15vh;
}
